@import url('https://fonts.googleapis.com/css?family=Lato');
body{
	width:100%;
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	color: gray;

}
img{
	max-width: 100%;
}
header{
	margin: 0 auto;
	width:100%;
	background: #FAB700;
}
.container-1{
	width:  90%;
    margin: 0 auto;
    overflow:  hidden;
    background: #FAB700;
}

.logo{
	width:20%;
	float:left;
	padding: 20px 20px;
}
.logo img{
	max-width:100%;
	display:block; 
	
}
nav{
	width:70%;
	float:right;
	padding: 20px 20px;
	margin: 0 auto;
	display: block;
}
nav ul{
	margin:0 auto;
	padding: 0;
	text-align: right; 
	width: 100%;
}
nav ul li{
	list-style-type: none;
	display:inline-block;
	padding: 0 0 0 15px;
}
nav ul li a{
	text-decoration: none;
	color:white;
	font-size:  10px;
    
}


.banner-section{
	width: 100%;
}
.container-2{
	width: 100%;
	margin:0 auto;
	background: #d49c02f0;
	
}
.art{
	width:90%;
	text-align: left;
	color:white;
	margin: 0 auto;
	padding: 100px 0;
	padding-left: 40px;
	background: #d49c02f0;
	
}
.art time{
	color:white;
	margin:auto;
}
.art h1{
	font-size: 40px;
}
.art p{
	margin:auto;
}
.art .b1{
	background: #f9b700;
	color:white;
	padding: 20px 25px;
	font-size: 15px;
	border-style: none;
}

.article{
	width: 100%;
}
.off{
	text-align: center;
	padding:50px 0;
}
.off h1{
	color:black;
	font-size: 40px;
}
.off p{}

.content-div1{
	width:100%;
}
.content-box1{
	width: 90%;
	margin:0 auto;
}
.content1{
	width:33.33%;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.content1 img{
	width:100%;
}
.content1 h1{}
.content1 p{
	text-align: justify;
}
.content2{
	width:33.33%;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.content2 img{
	width:100%;
}
.content2 h1{}
.content2 p{
	text-align: justify;
}
.content3{
	width:33.33%;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.content3 img{
	width:100%;
}
.content3 h1{}
.content3 p{
	text-align: justify;
}

.feature{
	width: 100%;
	float:left;
}
.feat{
	text-align: center;
	padding:50px 0;
}
.feat h1{
	color:black;
	font-size: 30px;
}
.feat p{}

.feature-des{
	width:100%;
	margin:auto;
}
.content-box2{
	width: 90%;
	margin:auto;
	overflow: hidden;
}
.content4{
	width:33.33%;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.content4 h1{}
.content4 p{
	text-align: justify;
}
.content5{
	width:33.33%;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.content5 h1{}
.content5 p{
	text-align: justify;
}
.content6{
	width:33.33%;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.content6 h1{}
.content6 p{
	text-align: justify;
}
.content-box3{
	width: 90%;
	margin:auto;
	overflow: hidden;
}
.content7{
	width:33.33%;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.content7 h1{}
.content7 p{
	text-align: justify;
}
.content8{
	width:33.33%;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.content8 h1{}
.content8 p{
	text-align: justify;
}
.content9{
	width:33.33%;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.content9 h1{}
.content9 p{
	text-align: justify;
}

.details{
	margin:0 auto;
	width: 100%;
	background: #f9b700;
}
.total{
	width:  90%;
    margin: 0 auto;
    overflow:  hidden;
}
.det{
	width:100%;
	
}
}
.det ul{
	width:100%;
	margin: 0;

}
.det ul li{
	width:19%;
	list-style-type: none;
	display:inline-block;
	
}
.det ul li h1{
	font-size: 40px;
	color:black;
}
.det ul li p{}

.gallery-det{
	width: 100%;
}
.gal{
	text-align: center;
	padding:50px 0;
}
.gal h1{
	color:black;
	font-size: 30px;
}
.gal p{
}

.photo-gallery{
	width: 100%
	margin:auto;
}
.photo-gallery img{
	width: 100%;
	height: 260px;
}
.photo-box1{
	width: 90%;
	margin:auto;
	overflow: hidden;
}
.photo-box2{
	width: 90%;
	margin:auto;
	overflow: hidden;
}
.photo-box3{
	width: 90%;
	margin:auto;
	overflow: hidden;
}
.photo1{
	width:60%;
	float:left;
	padding:20px;
	box-sizing: border-box;
}
.photo2{
	width:40%;
	float:left;
	padding:20px;
	box-sizing: border-box;
}

.photo3{
	width:33.33%;
	float:left;
	padding:20px;
	box-sizing: border-box;
}
.photo4{
	width:33.33%;
	float:left;
	padding:20px;
	box-sizing: border-box;
}
.photo5{
	width:33.33%;
	float:left;
	padding:20px;
	box-sizing: border-box;
}
.photo6{
	width:40%;
	float:left;
	padding:20px;
	box-sizing: border-box;
}

.photo7{
	width:60%;
	float:left;
	padding:20px;
	box-sizing: border-box;
}
.photo-gallery img{
	width:100%;
}

.blog-det{
	width: 100%;
}
.blog{
	text-align: center;
	padding:50px 0;
}
.blog h1{
	color:black;
	font-size: 30px;
}
.blog p{}

.blog-gal{
	margin:auto;
	width: 100%
}
.blog-box{
	width: 90%;
	margin:auto;
	overflow: hidden;
}
.blog1{
	width:25%;
	float:left;
	padding:20px;
	box-sizing: border-box;
}
.blog1 img{
	width: 100%;
}
.blog1 time{
	background: black;
	color:white;
	padding: 0 2px;
}
.blog1 h1{
	font-size: 20px;
	color:black;
}
.blog1 p{}

footer{
	width:100%;
	background: #000729;
	padding:30px 0;
	overflow: hidden;
	
}
.container{
	width:  90%;
    margin: 0 auto;
    overflow:  hidden;
}
.footer-menu{
	width: 30%;
	float: left;
	padding:30px;
	box-sizing: border-box;
}
.footer-menu h1{
	color:white;
	font-size: 16px;
}
.footer-menu p{
	font-size: 12px;
}
.footer-menu p span{
	color:yellow;
	font-size: 14px;
}

.news{
	width: 30%;
	float: left;
	padding:30px;
	
	box-sizing: border-box;
}
.news h1{
	color:white;
	font-size: 16px;
}
.news p{
	font-size: 12px;
}
.news form{

}
.news input{
	width:80%;
	padding: 5.5px
}
.news i{
	background: #FFC107;
	position: absolute;
	padding: 7px 8px;
}

.social-menu{
	width: 30%;
	float: right;
	padding:30px 50px;
	
	box-sizing: border-box;
	margin:0 auto;
}
.social-menu h1{
	color:white;
	font-size: 16px;
}
.social-menu p{
	font-size: 12px;
}
.social-menu ul{
	margin:  0;
    padding:  0;
}
.social-menu ul li{
	display: inline-block;
}
.social-menu ul li a{
	color:gray;
	font-size: 16px;
	
}
